*,
*:before,
*:after {
  box-sizing: border-box;
}

.line {
  border: 3px solid red;
  width: 200px;
}
/****** Styling for the Layout ***********/
.wrapper {
  background-color: rgb(247, 244, 244);
  list-style-type: none;
  padding: 0;
  border-radius: 5px;
}
.form-row {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
}
.form-row > label {
  padding: 1em;
  flex: 1;
  font-size: 1.2em;
  font-weight: bold;
}
.form-row > input,
.form-row > textarea {
  flex: 2;
}
.form-row > input,
.form-row > button,
.form-row > textarea {
  padding: 0.5em;
  resize: vertical;
  margin: 10px 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  font-size: 1.2em;
}
.form-row > textarea {
  font-size: 1.5em;
  background-color: rgb(242, 248, 248);
  text-align: center;
  font-weight: bold;
}
.btn-container {
  flex: 3;
  column-gap: 10px;
  display: flex;
}
.btn-container > button {
  width: 50%;
  border: 0;
  padding: 1em;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  color: white;
  font-size: 1.2em;
}

#subscribe {
  background-color: green;
}
#unsubscribe {
  background-color: rgb(176, 6, 6);
}

#status {
  background-color: lightcyan;
  text-align: center;
  font-weight: bold;
}
